.collection-products-section .product-swiper{
    overflow: hidden;
    position: relative;
}
.collection-products-section h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.collection-products-section .swiper-wrapper a{
    text-decoration: none;
    color: #000000;
}
.collection-products-section .swiper-wrapper li{
    margin: 0 15px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.collection-products-section .swiper-wrapper img{
    max-width: 100%;
    display: block;
    height: auto;
}
.collection-products-section .swiper-button-prev, .collection-products-section .swiper-button-next{
    color: #000000;
    z-index: 8;
}
.collection-products-section  .product-title{
    font-size: clamp(14px, 3vw, 20px);
    font-weight: 600;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.collection-products-section  .product-price{
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.collection-products-section .swiper-pagination{
    position: relative;
    top: unset;
    bottom: 0.2rem;
    z-index: 0;
}
.collection-products-section .swiper-pagination-bullet-active{
    background: #000000;
}

@media screen and (max-width: 1024px) {
    .collection-products-section .swiper-wrapper li{
        margin: 0 15px;
        padding: 10px;
    }
    .collection-products-section h2{
        margin: 10px 0;
    }
    .collection-products-section .swiper-arrows{
        display: none;
    }
}